exclude __pycache__/**
exclude .benchmarks/**
exclude .git/**
exclude .github/**
exclude .pytest_cache/**
exclude .vscode/**
exclude .history/**
exclude docs/**
exclude examples/**
exclude scripts/**
exclude src/modules/**
exclude templates/**
exclude tests/**
exclude data/**
exclude __init__.py
exclude .coverage
exclude .editorconfig
exclude .env
exclude .env.example
exclude .gitignore
exclude .gitmodules
exclude .markdownlint.json
exclude .pre-commit-config.yaml
exclude .DS_Store
exclude CHANGELOG.md
exclude Makefile
exclude MANIFEST.in
exclude mkdocs.yml
exclude pytest.ini
exclude Thumbs.db
exclude *.bak
exclude *.pyc
exclude **/compose*.yml
exclude **/compose*.yaml
exclude **/scripts/*
prune **/modules
prune **/volumes
prune **/tests
prune **/.git
prune **/.env
prune **/.venv
prune **/env
prune **/venv
prune **/node_modules
