HBC_WEB_URL=https://172.17.0.1:10001/_web
HBC_ACTION_LIST='[[{"id":0,"type":"click","args":{"location":{"x":768,"y":486}}},{"id":1,"type":"click","args":{"location":{"x":68,"y":260}}},{"id":2,"type":"click","args":{"location":{"x":79,"y":625}}},{"id":3,"type":"click","args":{"location":{"x":603,"y":187}}},{"id":4,"type":"click","args":{"location":{"x":1320,"y":91}}}],[{"id":0,"type":"click","args":{"location":{"x":390,"y":78}}},{"id":1,"type":"click","args":{"location":{"x":1057,"y":427}}},{"id":2,"type":"click","args":{"location":{"x":1376,"y":266}}},{"id":3,"type":"click","args":{"location":{"x":730,"y":654}}},{"id":4,"type":"click","args":{"location":{"x":1384,"y":716}}}]]'
